---
import '../styles/global.css';
import SEO from '../components/SEO.astro';

export interface Props {
  class?: string;
  seo?: {
    title?: string;
    description?: string;
    canonical?: string;
    openGraph?: {
      title?: string;
      description?: string;
      image?: string;
      type?: string;
    };
    noIndex?: boolean;
    noFollow?: boolean;
    keywords?: string[];
  };
}

const { class: className, seo } = Astro.props;

import { getImage } from 'astro:assets'
import faviconSrc from '../images/favicon-32x32.png'

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})

const androidTouchIcon = await getImage({
  src: faviconSrc,
  width: 192,
  height: 192,
  format: 'png'
})

const favicon16x16 = await getImage({
  src: faviconSrc,
  width: 16,
  height: 16,
  format: 'png'
})


const favicon32x32 = await getImage({
  src: faviconSrc,
  width: 32,
  height: 32,
  format: 'png'
})


const favicon48x48 = await getImage({
  src: faviconSrc,
  width: 48,
  height: 48,
  format: 'png'
})

const favicon96x96 = await getImage({
  src: faviconSrc,
  width: 96,
  height: 96,
  format: 'png'
})
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <SEO {...seo} />
    <link rel="icon" href={favicon32x32.src} type="image/png" />
    <link rel="icon" type="image/png" sizes="16x16" href={favicon16x16.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={favicon32x32.src} />
    <link rel="icon" type="image/png" sizes="48x48" href={favicon48x48.src} />
    <link rel="icon" type="image/png" sizes="96x96" href={favicon96x96.src} />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <link rel="icon" href={androidTouchIcon.src} />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <meta name="google-site-verification" content="gBjZhuFwfuSu52WiwXxR7QGjuKSJydTs45TL6T7J3h0" />
  </head>
  <body class={`min-h-screen flex flex-col ${className || ''}`}>
    <slot />
  </body>
</html>
